<h3>1. Escreva uma função que receba uma lista de números e retorne outra lista
com os números ímpares.</h3>

In [59]:
def RetornaImpares(numeros: list[int]) -> list[int]:
    impares = [x for x in numeros if x % 2 != 0]
    return impares

resultado = RetornaImpares([1,2,3,4,5,6,7,8,9,10])
print(resultado)

[1, 3, 5, 7, 9]

<h3>2. Escreva uma função que receba uma lista de números e retorne outra lista
com os números primos presentes.</h3>

In [70]:
def SeparaPrimos(numeros: list[int]) -> list[int]:
    primes = []
    for x in numeros:
        if x < 2:
            continue
        for k in range(x-1, 0, -1):
            if x % k == 0 and k != 1:
                break
        else:
            primes.append(x)
    return primes

print(SeparaPrimos([x for x in range(1,23+1)]))

[2, 3, 5, 7, 11, 13, 17, 19, 23]

<h3>3. Escreva uma função que receba duas listas e<BR>
retorne outra lista com oselementos que estão <BR>presentes em apenas uma das listas </h3>

In [69]:
#solução 1
def NotShared(l1, l2):
    return [x for x in l1 if x not in l2] + [y for y in l2 if y not in l1]

res = NotShared([1,2,3,4],[3,4,5,6])
print(res)

#solução 2
def NotShared2(l1, l2):
    return list(set(l1) ^ set(l2))

res = print(NotShared2([1,2,4,3,4],[3,4,5,6,9,9]))
print(res)

[1, 2, 5, 6]
[1, 2, 5, 6, 9]
None

<h3>4. Dada uma lista de números inteiros, escreva uma função para encontrar o
segundo maior valor na lista.</h3>

In [ ]:
#1 Solução
def findSecond(l: list):
    maior = l[0]
    for x in l:
        if x > maior:
            maior = x
    l = [x for x in l if x != maior]
    segundoMaior =l[0]
    for x in l:
        if x > segundoMaior:
            segundoMaior = x
    return segundoMaior
  
print(findSecond([4,3,2,1]))


#solução 2 
def findSecond(l: list):
    l = sorted(set(l), reverse=True)
    return l[1] if len(l) > 1 else None
print(findSecond([1,4,7,3,9]))

3
7

<h3>5. Crie uma função que receba uma lista de tuplas, cada uma contendo o
nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das
pessoas em ordem alfabética.</h3>

In [ ]:
#solucao 1
def ordenaPorNome(dados: list[tuple]) -> list[tuple]:
    
    ordenados = sorted(dados) # cria nova lista
    return ordenados
resultado1 = ordenaPorNome([('Carlos',19),('Amanda',25),('Eduardo',32)])
print(resultado1)
 
#solucao 2
def ordenaPorNome2(dados: list[tuple]) -> list[tuple]:
    dados.sort() # modifica a lista original
    return dados
resultado2 = ordenaPorNome2([('Carlos',19),('Biatriz',25),('João',32)])
print(resultado2)

#solucao 3
def ordenaPorNome3(dados: list[tuple]) -> list[tuple]:
    return sorted(dados, key = lambda x: x[0])
resultado3 = ordenaPorNome3([('Alexandre',19),('Talita',25),('Sérgio',32)])
print(resultado3)

[('Amanda', 25), ('Carlos', 19), ('Eduardo', 32)]
[('Biatriz', 25), ('Carlos', 19), ('João', 32)]
[('Alexandre', 19), ('Sérgio', 32), ('Talita', 25)]

<h3>6. Como identificar e tratar outliers em uma coluna numérica usando desvio
padrão ou quartis?</h3>

1 - Usando Desvio Padrão: se um valor está a 2 ou 3 desvios padrões de distancia da média, ele pode ser considerado
outlier.

In [44]:
#exemplo
import pandas as pd

valores = {'valores' : [1,2,10,15,12,16,9,13,14,11,98]}
df = pd.DataFrame(valores)

#Encontrando média e desvio padrao
media = df['valores'].mean()
desvioPadrao = df['valores'].std()

limite_inf = media - 2*desvioPadrao
limite_sup = media + 2*desvioPadrao

outliers = df[(df['valores'] < limite_inf) | (df['valores'] > limite_sup)]
print(outliers)

    valores
10       98

2 - Ultilizando Quartis (IQR - Intervalo Interquartil)

In [46]:
Q1 = df['valores'].quantile(0.25) #quartil 1
Q3 = df['valores'].quantile(0.75) #quartil 2
print(Q1)
print(Q3)

IQR = Q3 - Q1

limite_inf = Q1 - 1.5*IQR
limite_sup = Q3 + 1.5*IQR

outliers = df[(df['valores'] < limite_inf) | (df['valores'] > limite_sup)]
print(outliers)

9.5
14.5
    valores
0         1
10       98

<h3>7. Como concatenar vários DataFrames (empilhando linhas ou colunas),
mesmo que tenham colunas diferentes?
Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1
(colunas). Quando há colunas diferentes, os valores ausentes são
preenchidos com NaN.</h3>

In [ ]:
df1 = pd.DataFrame({
    "Nome": ["Ana", "Carlos"],
    "Idade": [23, 30]
})

df2 = pd.DataFrame({
    "Nome": ["Edu", "Joana"],
    "Idade": [35, 28],
    "Cidade": ["SP", "RJ"]
})

# o Axis= 0 refere se ao eixe das linhas, ou seja concatenar Empilhando linhas
df_concat = pd.concat([df1, df2], axis=0)
print(df_concat)

<h3>8. Utilizando pandas, como realizar a leitura de um arquivo CSV em um
DataFrame e exibir as primeiras linhas?</h3>

In [ ]:
import pandas as pd

#através da função read_csv() e especificando alguns parametros se for preciso
caminho = '.../'
df = pd.read_csv(caminho+'arquivo.csv', sep=',', encoding='utf-8-sig')
df.head(10)

# ======= Principais parâmetros de read_csv() ===========================

# sep=',' → define o separador.
# Exemplo: sep=';' quando os dados vêm de Excel/BRASIL.

# encoding='utf-8-sig' → garante que caracteres com acento (á, é, ã) sejam lidos corretamente.
# Outros comuns: latin1, ISO-8859-1.

# header=0 → define a linha que é o cabeçalho (por padrão é a primeira).

# names=[...] → define manualmente os nomes das colunas.

# usecols=[...] → carrega apenas algumas colunas.

# nrows=10 → lê só as 10 primeiras linhas.

# dtype={'coluna': 'string'} → força o tipo de dado de uma coluna.

<h3>9. Utilizando pandas, como selecionar uma coluna específica e filtrar linhas
em um “DataFrame” com base em uma condição?</h3>

In [ ]:
tabela = {'Nome': ['Carlos','Amanda','Pedro','João','Lídia','Alfredo'],
          'Idade':[15, 29, 19, 17, 14, 16],
            'Estado':['São Paulo','Rio de Janeiro','Ceará','Rio de Janeiro','Ceará','Minas Gerais']}
df = pd.DataFrame(tabela)

#condicao 1: nomes de jovens menores de 18 anos
menoresDe18 = df['Idade'] < 18
print(df[menoresDe18][['Nome','Idade']])

#condicao 2: jovens menores de 18 que moram no Ceará
MoraNoCeara = df['Estado'] == 'Ceará'
print(df[menoresDe18 & MoraNoCeara][['Nome','Estado']])

#condicao 3 : Jovens Que morem no ceará ou no rio de janeiro

CearaOuRio = (df['Estado'] == 'Ceará') | (df['Estado'] == 'Rio de Janeiro')
print(df[CearaOuRio][['Nome','Estado']])

     Nome          Estado
1  Amanda  Rio de Janeiro
2   Pedro           Ceará
3    João  Rio de Janeiro
4   Lídia           Ceará

<h3>10.Utilizando pandas, como lidar com valores ausentes (NaN) em um
DataFrame?</h3>

In [ ]:
# Através de métodos como .islull(), isna(), .dropna() e fillna() conseguimos identificar e tratar valores faltantes
#====================== DETECTA NULOS ========================
df.isnull() # -> retorna um dataframe de True/False mostrando quais valores são nulos ou não
df.isnull().sum() # ->mostra total de valores nulos por coluna


#======================= ELIMINA NULOS =========================
df_sem_nam =df.dropna(axis=0)       #-> remove todas as linhas que contiverem ao menos um 'NaN' 
df_sem_nam_col = df.dropna(axis=1)  #-> remove colunas comqualquer 'NaN'
df = df.dropna(how='all')           #-> remove linhas totalmente vazias

# ========= PREENCHER VALORES AUSENTES (INPUTAR DADOS) ===============

df['Cidade'] = df['Cidade'].fillna("Desconhecida")

df['Idade'] = df['Idade'].fillna(df['Idade'].mean())     # preencher com média
df['Idade'] = df['Idade'].fillna(df['Idade'].median())   # preencher com mediana
df['Idade'] = df['Idade'].fillna(df['Idade'].mode()[0])  # preehncher com moda


df['Nome'] = df['Nome'].fillna(method='ffill')  # forward fill (preencher com valor anterior)
df['Nome'] = df['Nome'].fillna(method='bfill')  # backward fill (preencher com valor seguinte)

# ========== RESUMO =============

# isnull() / notnull() → identificar.
# dropna() → remover.
# fillna() → substituir (valor fixo, estatística, forward/backward fill).